.heading--teachers {
    margin-bottom: 100px;
}

.exp-teachers--big .exp-teachers {
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        margin-bottom: 100px;
    }
}