@use 'vars';
@use 'global';
@use 'reset';
@use 'fonts';
@use '../../node_modules/swiper/swiper-bundle.css';

body {
    @extend %poppins-400;
    font-size: 16px;
    color: vars.$color-primary;
}

address {
    font-style: normal;
}

span {
    display: block;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
}

.wrapper-bg {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.header-v2 {
    padding-top: 32px;
}

.header__top {
    max-width: 1240px;
}

.header {
    &__inner {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 55px;
    }

    &__menu-list {
        display: flex;
        gap: 48px;
    }


    &__menu-link {
        @extend %poppins-400;
    }

    &__button {
        border: none;
        border-radius: 20px;
        background-color: vars.$color-primary;
        color: vars.$color-white;
        @extend %poppins-600;
        padding: 8px;
        width: 130px;
        line-height: 1.5;
        font-size: 16px;
    }
}

.menu {
    margin-right: auto;
}

.header {
    &__cotnent {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        padding-bottom: 160px;
        margin-bottom: 120px;
    }

    &__title {
        width: 610px;
        margin-bottom: 12px;
    }

    &__subtitle {
        margin-bottom: 48px;
        @extend %poppins-400;
        font-size: 20px;
        opacity: .7;
        max-width: 630px;
        line-height: 1.5;
    }

    &__content-btn {
        border: none;
        border-radius: 25px;
        background-color: vars.$color-red;
        color: vars.$color-white;
        @extend %poppins-600;
        padding: 12px;
        width: 222px;
        line-height: 1.5;
        font-size: 16px;
    }
}

.main-title {
    @extend %nunito-800;
    font-size: 64px;
}

.discover {
    margin-bottom: 120px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @extend %nunito-800;
        font-size: 56px;
        margin-bottom: 50px;
        max-width: 600px;
        text-align: center;
        line-height: 1.2;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 35px;
        margin-bottom: 64px;
    }

    &__element {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__element-img {
        width: 80px;
        height: 80px;
    }

    &__element-textbox {
        display: flex;
        flex-direction: column;
        max-width: 280px;
        line-height: 1.5;
    }

    &__element-title {
        @extend %nunito-800;
        font-size: 32px;
        margin-bottom: 2px;
    }

    &__element-text {
        @extend %poppins-400;
        font-size: 16px;
        opacity: .7;
    }

    &__button {
        border: none;
        border-radius: 25px;
        background-color: vars.$color-yellow;
        color: vars.$color-primary;
        @extend %poppins-600;
        padding: 12px;
        width: 222px;
        line-height: 1.5;
        font-size: 16px;
    }

}

.explore-grow {
    background-color: vars.$color-cream;
    margin-bottom: 120px;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        padding: 100px 0;
    }

    &__content {
        max-width: 530px;
        max-height: 370px;
    }

    &__content-title {
        @extend %nunito-800;
        font-size: 48px;
        max-width: 410px;
        margin-bottom: 16px;
        line-height: 1.2;
    }

    &__content-text {
        @extend %poppins-400;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 80px;
    }

    &__awards {
        display: flex;
        gap: 32px;
    }
}

.easy-steps {
    margin-bottom: 120px;
    background-image: url(../images/easy-steps-line.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 230px;

    &__title {
        @extend %nunito-800;
        font-size: 56px;
        margin-bottom: 72px;
        max-width: 600px;
        text-align: center;
        line-height: 1.2;
        margin-inline: auto;
    }

    &__box {
        display: flex;
        gap: 80px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        &:nth-child(1) {
            .easy-steps__item-number {
                background-color: vars.$color-red;
            }

            margin-top: 42px;
        }

        &:nth-child(2) {
            .easy-steps__item-number {
                background-color: vars.$color-yellow;
            }
        }

        &:nth-child(3) {
            .easy-steps__item-number {
                background-color: vars.$color-primary;
            }

            margin-top: 42px;
        }

        &:nth-child(4) {
            .easy-steps__item-number {
                background-color: vars.$color-green;
            }
        }
    }

    &__item-number {
        height: 85px;
        width: 85px;
        margin-bottom: 24px;
        color: vars.$color-white;
        @extend %nunito-800;
        font-size: 32px;
        align-content: center;
        border-radius: 50%
    }

    &__item-title {
        @extend %nunito-800;
        font-size: 24px;
        margin-bottom: 4px;
    }

    &__item-text {
        @extend %poppins-400;
        font-size: 16px;
        line-height: 1.5;
        opacity: .7;
    }
}

.swiper-wrapper {
    height: auto;
}

.comments {
    margin-bottom: 120px;

    &__item {
        max-height: 600px;
    }

    &__item-box {
        display: flex;
        align-items: end;
    }

    &__item-decore {
        margin-bottom: 136px;
    }

    &__item-content-text {
        @extend %nunito-800;
        font-size: 32px;
        line-height: 1.3;
        margin-bottom: 44px;
    }
}

.comment {
    height: 100%;

    &__author {
        display: flex;
        gap: 18px;
        margin-bottom: 20px;
        align-items: center;
    }

    &__author-photo {
        border-radius: 50%;
    }

    &__author-text {
        line-height: 1.5;
    }

    &__author-name {
        @extend %nunito-700;
        font-size: 20px;
    }

    &__author-status {
        @extend %poppins-400;
        font-size: 16px;
    }
}

.comments__swiper {
    position: relative;
}

.comments-button {
    position: absolute;
    top: 290px;
    background: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 14;
}

.comments-button-next {
    right: 90px;
}

.comments-button-prev {
    right: 560px;
}

.belive {
    background-color: vars.$color-yellow;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 56px;
    background-image: url(../images/belive-bg-combonent.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 50px;
    }

    &__title {
        @extend %nunito-800;
        font-size: 48px;
        max-width: 400px;
        line-height: 1.16;
    }

    &__text {
        max-width: 492px;
        font-size: 20px;
        line-height: 1.5;
        opacity: .7;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-bottom: 100px;
    }

    &__box-item {
        display: flex;
        align-items: center;
        gap: 25px;
        border-radius: 20px;
        background-color: vars.$color-white;
        max-height: 130px;
        padding: 32px;
    }

    &__item-title {
        @extend %nunito-800;
        font-size: 24px;
        margin-bottom: 5px;
    }

    &__item-text {
        opacity: .7;
        line-height: 1.5;
    }
}

.exp-teachers {
    margin-bottom: 120px;

    &__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    &__title {
        @extend %nunito-800;
        font-size: 56px;
        line-height: 1.2;
        margin-bottom: 48px;
        max-width: 420px;
    }

    &__content {
        display: flex;
        gap: 40px;
        margin-bottom: 64px;
        color: vars.$color-cream;
    }

    &__item {
        position: relative;
        border-radius: 20px;
        cursor: pointer;
    }

    &__social {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 15px;
        top: 16px;
    }

    &__social-item {
        text-transform: uppercase;
        background-color: vars.$color-red;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        align-content: center;
        color: vars.$color-white;
        margin-bottom: 8px;
        cursor: pointer;
    }

    &__photo-decor {
        margin-top: -23px;
    }

    &__info {
        background-color: vars.$color-cream;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        color: vars.$color-primary;
        margin-top: -5px;
    }

    &__info-name {
        padding-top: 16px;
        padding-bottom: 12px;
        @extend %nunito-800;
        font-size: 32px;
        line-height: 1.3;
    }

    &__info-text {
        font-size: 20px;
        line-height: 1.5;
        opacity: .7;
        padding-bottom: 40px;
    }

    &__button {
        border: none;
        border-radius: 25px;
        background-color: vars.$color-primary;
        color: vars.$color-white;
        @extend %poppins-600;
        padding: 12px;
        width: 222px;
        line-height: 1.5;
        font-size: 16px;
        cursor: pointer;
    }
}

.exp-teachers__item.exp-teachers__item--active {
    .exp-teachers__social {
        display: flex;
    }

    .exp-teachers__info {
        color: vars.$color-white;
        background-color: vars.$color-green;
    }

    .exp-teachers__photo-decor {
        color: vars.$color-green;
    }
}

.exp-teachers__social-item {
    transition: transform .3s ease;
}

.exp-teachers__social-item:hover {
    transform: scale(1.2);
}

.questions {
    margin-bottom: 120px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: vars.$color-cream;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        align-items: center;
    }

    &__title {
        @extend %nunito-800;
        font-size: 56px;
        line-height: 1.2;
    }

    &__button {
        border: none;
        border-radius: 25px;
        background-color: vars.$color-yellow;
        @extend %poppins-600;
        padding: 12px;
        width: 235px;
        height: max-content;
        line-height: 1.5;
        font-size: 16px;
        cursor: pointer;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__item {
        background-color: vars.$color-white;
        border-radius: 10px;
        padding: 24px 70px 24px 32px;
        position: relative;
        cursor: pointer;
    }

    &__icon {
        display: inline-block;
        align-content: center;
        text-align: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        color: vars.$color-white;
        font-size: 20px;
        position: absolute;
        top: 32px;
        right: 32px;
    }

    &__icon-plus {
        background-color: vars.$color-red;
    }

    &__icon-minus {
        background-color: vars.$color-primary;
        display: none;
    }

    &__item-title {
        @extend %nunito-800;
        font-size: 32px;
        line-height: 1.3;
    }

    &__item-text {
        display: none;
        font-size: 20px;
        max-width: 900px;
        line-height: 1.5;
        opacity: .7;
        margin-top: 12px;
    }
}

.questions__item--active .questions__icon-plus {
    display: none;
}

.questions__item--active .questions__icon-minus {
    display: inline-block;
}

.questions__item--active .questions__item-text {
    display: inline-block;
}

.from-blog {
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        align-items: center;
    }

    &__title {
        @extend %nunito-800;
        font-size: 56px;
        line-height: 1.2;
    }

    &__button {
        border: none;
        border-radius: 25px;
        color: vars.$color-white;
        background-color: vars.$color-primary;
        @extend %poppins-600;
        padding: 8px 32px;
        line-height: 1.5;
        font-size: 16px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
}

.teaser {
    &__img {
        border-radius: 20px;
        margin-bottom: 24px;
        width: 100%;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    &__day {
        align-content: center;
        text-align: center;
        height: 96px;
        flex: 0 0 80px;
        background-color: vars.$color-red;
        color: vars.$color-white;
        border-radius: 10px;
        min-width: 0;
    }
}

.teaser__day span:nth-child(1) {
    @extend %nunito-800;
    font-size: 24px;
    line-height: 1.3;
}

.teaser__day span:nth-child(2) {
    line-height: 1.5;
}

.teaser__content p:nth-child(1) {
    @extend %nunito-800;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 8px;
}

.teaser__content p:nth-child(2) {
    line-height: 1.5;
    opacity: .7;
}

.footer {
    &__banner {
        margin-top: 180px;
        margin-bottom: -160px;
        background-image: url(../images/footer__banner.jpg);
        background-repeat: no-repeat;
        border-radius: 20px;
        position: relative;
        z-index: 5;
    }

    &__banner-box {
        display: flex;
        gap: 90px;
    }

    &__top-banner-img {
        position: absolute;
        left: 80px;
        bottom: 0;
        z-index: 10;
    }

    &__banner-content {
        z-index: 20;
        padding: 76px 85px;
        max-width: 640px;
        margin-left: auto;
    }

    &__banner-title {
        @extend %nunito-800;
        font-size: 58px;
        line-height: 1.2;
        margin-bottom: 4px;
    }

    &__banner-text {
        line-height: 1.5;
        opacity: .7;
        margin-bottom: 24px;
    }

    &__banner-button {
        border: none;
        border-radius: 25px;
        background-color: vars.$color-red;
        color: vars.$color-white;
        @extend %poppins-600;
        padding: 12px;
        width: 186px;
        line-height: 1.5;
        font-size: 16px;
    }

    &__top {
        background-color: vars.$color-primary;
        padding-top: 80px;
        padding-bottom: 80px;
        border-bottom: 1px solid #32344d;
    }

    &__top--big {
        padding-top: 240px;
    }

    &__brands-list {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        padding-top: 88px;
        padding-bottom: 120px;
        background-color: vars.$color-primary;
        color: vars.$color-white;
    }

    &__box-inner {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 155px;
        max-width: 780px;
        height: 252px;
    }

    &__info-titles {
        @extend %nunito-800;
        font-size: 24px;
        margin-bottom: 16px;
        line-height: 1.3;
    }

    &__info ul li {
        opacity: .8;
        line-height: 1.5;
    }

    &__info ul li+li {
        margin-top: 12px;
    }

    &__links {
        white-space: nowrap;
    }

    &__classes {
        white-space: nowrap;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
    }

    &__contacts-info {
        opacity: .8;
        line-height: 1.5;
    }

    &__contacts-info-address {
        margin-bottom: 22px;
    }

    &__contacts-info-phone {
        display: inline-block;
        margin-bottom: 12px;
    }

    &__contacts-button {
        align-self: start;
        margin-top: auto;
        @extend %poppins-600;
        line-height: 1.5;
        border: none;
        background-color: transparent;
        color: vars.$color-white;
        border-bottom: 2px solid vars.$color-white;
        padding: 1px 2px;
    }

    &__form-logo {
        margin-bottom: 13px;
    }

    &__form-title {
        margin-bottom: 22px;
        @extend %nunito-800;
        font-size: 24px;
    }

    &__form-input {
        width: 100%;
        height: 66px;
        border-radius: 10px;
        padding: 21px 24px;
        border: none;
        margin-bottom: 36px;
    }

    &__form-bottom-box {
        display: flex;
        gap: 15px;
        margin-top: auto;
    }

    &__form-social-list {
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }

    &__form-social-item {
        text-transform: uppercase;
        background-color: vars.$color-red;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        align-content: center;
        text-align: center;
        cursor: pointer;
    }

    &__form-button {
        @extend %poppins-400;
        color: vars.$color-white;
        background-color: vars.$color-green;
        line-height: 1.5;

        border: none;
        border-radius: 25px;
        width: 194px;
        padding: 12px;
    }

    &__bottom-inner {
        display: flex;
        justify-content: space-between;
        line-height: 1.5;
        opacity: 0.5;
        padding: 24px 0;
    }

    &__bottom-list {
        display: flex;
        gap: 52px;
    }

    &__bottom-item+.footer__bottom-item {
        position: relative;

        &::before {
            content: '/';
            position: absolute;
            left: -28px;
        }
    }

    &__bottom-v2 {
        background-color: vars.$color-cream;
    }
}

.footer__form-input::placeholder {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    color: vars.$color-primary;
    opacity: .7;
}



.footer-v1 {
    background-image: url(../images/footer-v1__top-bg.jpg);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;

    &__top {
        text-align: center;
        margin-bottom: 32px;
    }

    &__top-title {
        text-align: center;
        @extend %nunito-800;
        font-size: 64px;
        line-height: 1.25;
        padding-top: 80px;
        margin-inline: auto;
        margin-bottom: 24px;
        max-width: 730px;
    }

    &__top-button {
        @extend %poppins-600;
        padding: 12px;
        border: none;
        width: 200px;
        border-radius: 28px;
        background-color: vars.$color-red;
        color: vars.$color-white;
        margin-bottom: 164px;
    }

    &__box {
        display: flex;
        gap: 145px;
        height: 252px;
        margin-bottom: 64px;
    }

    &__social-box {
        max-width: 390px;
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__social-box-text {
        line-height: 1.5;
        opacity: .8;
        margin-bottom: 72px;
    }

    &__social-list {
        margin-top: auto;
        display: flex;
        gap: 8px;
    }

    &__social-item {
        text-transform: uppercase;
        background-color: vars.$color-green;
        color: vars.$color-white;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        align-content: center;
        text-align: center;
        margin-bottom: 8px;
        cursor: pointer;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 120px;
    }

    &__info-titles {
        @extend %nunito-800;
        font-size: 24px;
        margin-bottom: 16px;
        line-height: 1.3;
    }

    &__info ul li {
        opacity: .8;
        line-height: 1.5;
    }

    &__info ul li+li {
        margin-top: 12px;
    }

    &__links {
        white-space: nowrap;
    }

    &__classes {
        white-space: nowrap;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
    }

    &__contacts-info {
        opacity: .8;
        line-height: 1.5;
    }

    &__contacts-info-address {
        margin-bottom: 22px;
    }

    &__contacts-info-phone {
        display: inline-block;
        margin-bottom: 12px;
    }

    &__contacts-button {
        align-self: start;
        margin-top: auto;
        @extend %poppins-600;
        line-height: 1.5;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid vars.$color-primary;
        padding: 1px 2px;
    }
}

.footer__bottom-v1 {
    background-color: vars.$color-primary;
    color: vars.$color-white;
}

.footer-v3 {
    background-image: url(../images/footer-v3-bg.jpg);
    background-position: center 100px;
    background-size: cover;
    background-repeat: no-repeat;

    &__top-inner {
        display: flex;
        justify-content: space-between;
        gap: 130px;
        max-height: 582px;
        margin-bottom: 80px;
    }

    &__text-box {
        max-width: 461px;
        align-content: center;
    }

    &__title {
        @extend %nunito-800;
        font-size: 56px;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    &__text {
        font-size: 20px;
        line-height: 1.5;
        opacity: .7;
    }

    &__form {
        width: 640px;
        background-color: vars.$color-yellow;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 20px;
        padding: 28px 24px;
    }

    &__form-inputs {
        border: none;
        border-radius: 10px;
        padding: 30px 23px;
        font-family: 'Poppins-Regular', sans-serif;
        font-size: 20px;

        &::placeholder {
            color: vars.$color-primary;
            opacity: .3;
        }
    }

    &__form-textarea {
        resize: none;
        max-height: 220px;
        padding-bottom: 160px;
        overflow: hidden;
    }

    &__form-button {
        @extend %poppins-600;
        line-height: 1.5;
        font-size: 20px;
        margin-top: 8px;
        padding: 20px;
        height: 70px;
        border: none;
        border-radius: 35px;
        background-color: vars.$color-red;
        color: vars.$color-white;
    }

    &__box {
        display: flex;
        gap: 160px;
        height: 252px;
        margin-bottom: 64px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 120px;
    }

    &__info-titles {
        @extend %nunito-800;
        font-size: 24px;
        margin-bottom: 16px;
        line-height: 1.3;
    }

    &__info ul li {
        opacity: .8;
        line-height: 1.5;
    }

    &__info ul li+li {
        margin-top: 12px;
    }

    &__links {
        white-space: nowrap;
    }

    &__classes {
        white-space: nowrap;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
    }

    &__contacts-info {
        opacity: .8;
        line-height: 1.5;
    }

    &__contacts-info-address {
        margin-bottom: 22px;
    }

    &__contacts-info-phone {
        display: inline-block;
        margin-bottom: 12px;
    }

    &__contacts-button {
        align-self: start;
        margin-top: auto;
        @extend %poppins-600;
        line-height: 1.5;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid vars.$color-primary;
        padding: 1px 2px;
    }

    &__social-box-text {
        line-height: 1.5;
        opacity: .8;
        margin-bottom: 72px;
    }

    &__social-list {
        margin-top: auto;
        display: flex;
        gap: 8px;
    }

    &__social-item {
        text-transform: uppercase;
        background-color: vars.$color-primary;
        color: vars.$color-white;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        align-content: center;
        text-align: center;
        cursor: pointer;
    }

    &__logo {
        margin-bottom: 20px;
    }
}

.header-v1 {
    background-image: url('../images/header-v1-bg.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 32px;
    padding-bottom: 530px;
    margin-bottom: 72px;
    position: relative;

    &__decor-bg {
        z-index: 100;
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
    }

    &__content {
        margin-top: 52px;
    }

    &__content-title {
        padding-bottom: 20px;
        max-width: 1002px;
        text-align: center;
        margin: 0 auto;
        line-height: 80px;
    }

    &__content-buttons {
        display: flex;
        gap: 20px;
        justify-content: center;
        height: 48px;
    }

    &__content-button {
        border: none;
        background-color: transparent;
        line-height: 1.5;
        font-size: 16px;
        cursor: pointer;
        transition: transform .1s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__content-button-join {
        background-color: vars.$color-red;
        color: vars.$color-white;
        @extend %poppins-600;
        padding: 12px;
        width: 186px;
        border-radius: 24px;
    }

    &__content-button-view {
        @extend %poppins-400;
        color: rgba($color: #222443, $alpha: .7);
        padding: 12px 0 12px 60px;
        align-items: center;
        position: relative;

        &::before {
            content: '';
            background-image: url('../images/header-v1-view-button.svg');
            left: 0;
            top: 0;
            height: 48px;
            width: 48px;
            position: absolute;
        }
    }
}

.why-kidztar {
    margin-bottom: 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
    }

    &__content {
        height: 314px;
        width: 525px;
    }

    &__title {
        @extend %nunito-800;
        line-height: 1.2;
        font-size: 48px;
        margin-bottom: 12px;
    }

    &__text {
        font-size: 20px;
        line-height: 1.5;
        opacity: .7;
        padding-bottom: 50px;
    }

    &__button {
        border: none;
        border-radius: 20px;
        background-color: vars.$color-red;
        color: vars.$color-white;
        @extend %poppins-600;
        padding: 8px;
        line-height: 1.5;
        font-size: 16px;
    }

    &__link {
        padding: 12px 40px;
    }

    &__image img {
        display: block;
        max-width: 644px;
        max-width: 100%;
        height: auto;
    }
}

.discover-slider {
    background-color: vars.$color-light-blue;
    padding: 100px 0;
    margin-bottom: 120px;

    &__title {
        @extend %nunito-800;
        font-size: 56px;
        text-align: center;
        margin-inline: auto;
        margin-bottom: 48px;
        max-width: 600px;
    }
}

.discover {
    &__item {
        background-color: vars.$color-white;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 387px;
        border-radius: 20px;
        text-align: center;
    }

    &__item-content {
        width: 306px;
        margin-inline: auto;
    }

    &__card-swiper {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    &__item-image {
        padding-top: 32px;
        border-radius: 50%;
    }

    &__item-title {
        @extend %nunito-800;
        font-size: 32px;
        margin-top: 28px;
        margin-bottom: 16px;
        text-align: center;
    }

    &__item-infolist {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 28px;
    }

    &__item-infolist-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list-item-title {
        opacity: .7;
        margin-bottom: 18px;
        line-height: 1.5;
    }

    &__item-item-value {
        @extend %poppins-600;
        white-space: nowrap;
    }

    &__item-button {
        border: none;
        border-radius: 25px;
        background-color: vars.$color-red;
        color: vars.$color-white;
        @extend %poppins-600;
        font-size: 16px;
        padding: 12px;
        line-height: 1.5;
        width: 100%;
        margin-bottom: 32px;
    }
}

.discover__card-swiper {
    touch-action: pan-y;
    width: 100%;
    position: relative;
}

.discover__card-swiper-image {
    width: 100%;
}

.discover__card-swiper .discover__card-pagination {
    text-align: center;
    z-index: 200;
    position: absolute;
    bottom: 30px;
}

.discover__card-pagination .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background-color: vars.$color-white;
    border-radius: 50%;
    opacity: 1;
    margin: 0 12px !important;
}

.discover__card-pagination .swiper-pagination-bullet-active {
    background-color: vars.$color-red;
}

.discover-swiper-pagination {
    padding-top: 64px;
    text-align: center;
}

.discover-swiper-pagination .swiper-pagination-bullet {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: vars.$color-white;
    opacity: 1;
    margin: 0 28px !important;
}

.discover-swiper-pagination .swiper-pagination-bullet-active {
    background-color: vars.$color-primary;
}

.discover__item-infolist-column:nth-child(2) {
    padding-inline: 29px;
    margin-left: 29px;
    margin-right: 29px;
    border-left: 1px solid rgba($color: #222443, $alpha: .1);
    border-right: 1px solid rgba($color: #222443, $alpha: .1);
}


.capturing {
    margin-bottom: 120px;

    &__title {
        @extend %nunito-800;
        font-size: 56px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 56px;
    }

    &__image {
        width: 100%;
        margin-bottom: 56px;
    }

    &__stats {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        gap: 103px;
    }

    &__stats-number {
        @extend %nunito-800;
        font-size: 56px;
        line-height: 1.2;
        margin-bottom: 16px;
    }

    &__stats-text {
        font-size: 20px;
        color: vars.$color-white;
        line-height: 1.5;
        padding: 6px 28px;
        border-radius: 21px;
        background-color: vars.$color-green;
        white-space: nowrap;
    }
}

.belive-values {
    background-color: vars.$color-yellow;

    &__inner {
        padding: 100px 0;
        display: flex;
        justify-content: space-between;
        gap: 105px;
        align-items: center;
    }

    &__items-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 540px;
        gap: 20px;
    }

    &__item {
        background-color: vars.$color-white;
        border-radius: 20px;
        padding: 32px;
        max-width: 295px;
        height: fit-content;
    }

    &__item-img {
        height: 64px;
        width: 64px;
        margin-bottom: 20px;
    }

    &__item-title {
        @extend %nunito-800;
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 4px;
    }

    &__item-text {
        font-size: 16px;
        line-height: 1.5;
        opacity: .7;
        width: 231px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 430px;
    }

    &__decore {
        margin-bottom: auto;
        width: 156px;
        height: 62px;
    }

    &__content-title {
        @extend %nunito-800;
        font-size: 48px;
        margin-bottom: 16px;
    }

    &__content-text {
        font-size: 20px;
        line-height: 1.5;
        width: 525px;
    }

}

.belive-values__item:nth-child(2) {
    margin-top: 56px;
}

.belive-values__item:nth-child(3) {
    margin-top: -56px;
}

.testimonial {
    margin-block: 120px;

    &__title {
        @extend %nunito-800;
        font-size: 56px;
        line-height: 1.2;
        margin-bottom: 48px;
        max-width: 630px;
        text-align: center;
        margin-inline: auto;
    }

    &__slide {
        border-radius: 20px;
        background-color: vars.$color-cream;
        width: 400px;
    }

    &__slide-text {
        padding: 40px 40px 0 40px;
        max-width: 320px;
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 1.5;
        opacity: .7;
    }

    &__slide-profile {
        padding: 0 40px 40px 40px;
        display: flex;
        gap: 18px;
        align-items: center;
    }

    &__slide-profile-img {
        border-radius: 50%;
    }

    &__slide-profile-name {
        @extend %nunito-700;
        font-size: 20px;
        line-height: 1.5;
    }

    &__slide-profile-status {
        font-size: 16px;
        line-height: 1.2;
    }
}

.pagination__inner {
    margin-top: 72px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    max-width: 480px;
    text-align: center;
    @extend %nunito-800;
    font-size: 32px;
}

.pagination-button {
    cursor: pointer;
}

.pagination-button--next {
    transform: rotate(180deg);
}

.pagination__dots {
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.pagination__dots .swiper-pagination-bullet {
    background-color: transparent;
    width: auto;
    height: auto;
}

.questions-v1 {
    background-color: vars.$color-light-blue;
    padding: 100px 0;
    margin-bottom: 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 216px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        max-width: 325px;
    }

    &__decor {
        width: fit-content;
        margin-bottom: 20px;
    }

    &__title {
        @extend %nunito-800;
        font-size: 56px;
        line-height: 1.2;
        margin-bottom: auto;
    }

    &__button {
        border: none;
        border-radius: 25px;
        background-color: vars.$color-green;
        @extend %poppins-600;
        font-size: 16px;
        color: vars.$color-white;
        padding: 12px;
        width: 235px;
        line-height: 1.5;
        cursor: pointer;
    }

    &__right {
        width: 100%;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__item {
        max-width: 700px;
        background-color: vars.$color-white;
        border-radius: 10px;
        padding: 24px 70px 24px 28px;
        position: relative;
        cursor: pointer;
    }

    &__icon {
        display: inline-block;
        align-content: center;
        text-align: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        color: vars.$color-white;
        font-size: 20px;
        position: absolute;
        top: 28px;
        right: 28px;
    }

    &__icon-plus {
        background-color: vars.$color-red;
    }

    &__icon-minus {
        background-color: vars.$color-primary;
        display: none;
    }

    &__item-title {
        @extend %nunito-800;
        font-size: 24px;
        line-height: 1.3;
    }

    &__item-text {
        font-size: 20px;
        line-height: 1.5;
        opacity: .7;
        margin-top: 12px;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }
}

.questions-v1__item--active .questions-v1__icon-plus {
    display: none;
}

.questions-v1__item--active .questions-v1__icon-minus {
    display: inline-block;
}

.questions-v1__item--active .questions-v1__item-text {
    display: inline-block;
}

.events {
    margin-bottom: 120px;

    &__swiper {
        position: relative;
    }

    &__slide {
        display: flex;
        justify-content: center;
    }

    &__slide-decor {
        margin-right: -30px;
        z-index: 30;
    }

    &__slide-image {
        z-index: 20;
    }

    &__slide-content {
        display: flex;
        flex-direction: column;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: vars.$color-cream;
        padding: 56px;
    }

    &__slide-content-tag {
        font-size: 20px;
        line-height: 1.5;
        padding: 6px 28px;
        border-radius: 25px;
        background-color: vars.$color-yellow;
        width: fit-content;
        margin-bottom: 56px;
    }

    &__slide-content-title {
        margin-bottom: 14px;
        @extend %nunito-800;
        font-size: 48px;
    }

    &__slide-content-text {
        font-size: 20px;
        line-height: 1.5;
        opacity: .7;
        margin-bottom: auto;
    }

    &__slide-info {
        display: flex;
    }

    &__slide-info-date {
        padding-right: 48px;
        border-right: 1px solid rgba($color: #222443, $alpha: .1);
    }

    &__slide-info-title {
        opacity: .7;
        margin-bottom: 4px;
        line-height: 1.5;
    }

    &__slide-info-value {
        @extend %poppins-600;
        line-height: 1.5;
    }

    &__slide-info-time {
        padding-left: 48px;
    }
}

.swiperButton-next {
    text-align: center;
    align-content: center;
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: vars.$color-white;
    border-radius: 50%;
    right: 4%;
    top: 236px;
    z-index: 40;
    cursor: pointer;
}

.swiperButton-prev {
    text-align: center;
    align-content: center;
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: vars.$color-white;
    border-radius: 50%;
    top: 236px;
    right: 48%;
    z-index: 40;
    cursor: pointer;
}

.swiperButton-next img {
    height: 17px;
    width: 9px;
    transform: rotate(180deg);
}

.swiperButton-prev img {
    transform: translateY(1px);
    height: 17px;
    width: 9px;
}

.from-blog-section {
    margin-bottom: 120px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    &__link {
        @extend %poppins-600;
        line-height: 1.5;
        border-bottom: 2px solid vars.$color-primary;
    }

    &__box {
        display: flex;
        gap: 40px;
    }
}

.section-title {
    @extend %nunito-800;
    font-size: 56px;
    line-height: 1.2;
}

.article {
    position: relative;
}

.article span {
    color: vars.$color-white;
    background-color: vars.$color-red;
    padding: 6px 28px;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 1.5;
}

.article img {
    border-radius: 20px;
    margin-bottom: 18px;
}

.article p:first-of-type {
    margin-bottom: 8px;
    @extend %nunito-800;
    font-size: 24px;
    line-height: 1.3;
}

.article p:last-of-type {
    opacity: .5;
    line-height: 1.5;
}

.header {
    &__wrapper {
        padding: 12px 32px;
        background-color: vars.$color-white;
        border-radius: 35px;
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;
    }
}

.header-v3 {
    background-image: url(../images/homepage-v3-bg-header.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 26px;
    margin-bottom: 90px;

    &__decor {
        z-index: 30;
        width: 100%;
        margin-bottom: -3px;
    }

    &__content {
        z-index: 40;
        margin-top: 100px;
        margin-left: auto;
        max-width: 565px;
        margin-bottom: -100px;
    }

    &__title {
        margin-bottom: 12px;
        line-height: 1.25;
    }

    &__subtitle {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 36px;
        opacity: .7;
    }

    &__link {
        display: block;
        background-color: vars.$color-red;
        color: vars.$color-white;
        padding: 12px 56px;
        border-radius: 25px;
        width: fit-content;
    }
}

.explore-section {
    margin-bottom: 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__content {
        padding-top: 93px;
        max-width: 600px;
        height: 100%;
    }

    &__title {
        @extend %nunito-800;
        font-size: 48px;
        line-height: 1.15;
        max-width: 405px;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 20px;
        line-height: 1.5;
        opacity: .7;
        margin-bottom: auto;
    }

    &__image {
        padding-bottom: 80px;
    }

    &__seperiority {
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: absolute;
        bottom: 0;
        left: 43%;
        background-color: vars.$color-cream;
        border-radius: 20px;
        padding: 32px 28px;
    }

    &__seperiority-item {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    &__seperiority-text {
        @extend %nunito-800;
        font-size: 24px;
    }

    &__decore {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.discover-section {
    background-color: vars.$color-light-blue;
    padding-bottom: 120px;
    margin-bottom: 120px;

    &__title {
        padding-top: 110px;
        padding-bottom: 56px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 600px;
    }
}

.horisontal-card {
    display: flex;

    &__content {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: vars.$color-white;
        padding: 40px 20px 40px 40px;
    }

    &__decore-wave {
        z-index: 100;
        height: 305px;
    }

    &__title {
        @extend %nunito-800;
        font-size: 32px;
        line-height: 1.3;
        margin-bottom: 16px;
    }

    &__info {
        display: flex;
        gap: 32px;
    }

    &__info-column {
        line-height: 1.5;
        white-space: nowrap;
    }

    &__column-title {
        opacity: .7;
        margin-bottom: 5px;
    }

    &__column-value {
        @extend %poppins-600;
    }

    &__button {
        @extend %poppins-600;
        font-size: 16px;
        background-color: vars.$color-red;
        color: vars.$color-white;
        margin-top: 30px;
        padding: 8px 12px;
        text-align: center;
        width: 100%;
        border: none;
        border-radius: 20px;
    }

    &__image {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        z-index: 50;
        margin-left: -23px;

    }
}

.horisontal-card__info-column:first-child {
    border-right: 2px solid rgba($color: #222443, $alpha: .1);
    padding-right: 32px;
}

.inside-kidztar {
    margin-bottom: 120px;

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        align-items: end;
    }

    &__tab-content {
        display: none;
        gap: 20px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
    }

    &__tab-content--active {
        display: grid;
    }

    &__image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
    }
}

.inside-kidztar__inner .tab-btn {
    margin-left: 8px;
    margin-bottom: 8px;
}

.tab-btn {
    @extend %poppins-400;
    font-size: 16px;
    line-height: 1.5;
    background-color: vars.$color-white;
    color: vars.$color-primary;
    border: 1px solid vars.$color-primary;
    border-radius: 20px;
    padding: 6px 28px;
}

.tab-btn--active {
    @extend %poppins-600;
    background-color: vars.$color-primary;
    color: vars.$color-white;
}

#tab1 .inside-kidztar__image:nth-child(1) {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
}

#tab1 .inside-kidztar__image:nth-child(2) {
    grid-column-start: 1;
    grid-row-start: 1;
}

#tab2 .inside-kidztar__image:nth-child(1) {
    grid-row: span 2 / span 2;
}

#tab2 .inside-kidztar__image:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 2;
}

#tab2 .inside-kidztar__image:nth-child(3) {
    grid-column-start: 2;
    grid-row-start: 1;
}

#tab3 .inside-kidztar__image:nth-child(1) {
    grid-row: span 2;
}

#tab3 .inside-kidztar__image:nth-child(3) {
    grid-column-start: 2;
}

.inside-kidztar__tab-content img {
    border-radius: 20px;
}

.radial-belive {
    margin-bottom: 120px;

    &__title {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 50px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__side {
        max-width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__side--left {
        text-align: right;
    }

    &__item img {
        margin-bottom: 8px;
    }

    &__item-title {
        @extend %nunito-800;
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 4px;
    }

    &__item-text {
        opacity: .7;
        line-height: 1.5;
    }
}

.reviews {
    margin-bottom: 120px;

    &__slide-inner {
        max-width: 1030px;
        margin-left: auto;
        margin-right: auto;
        padding: 56px 0;
        border-radius: 20px;
        background-color: vars.$color-yellow;
    }

    &__slide-content {
        max-width: 902px;
        padding-left: 64px;
        padding-right: 64px;
        @extend %nunito-800;
        font-size: 48px;
        line-height: 1.16;
        margin-bottom: 40px;
    }

    &__slide-bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 64px 0 64px;
    }

    &__author {
        display: flex;
        gap: 18px;
        margin-bottom: 20px;
        align-items: center;
    }

    &__author img {
        border-radius: 50%;
    }

    &__author-text {
        line-height: 1.5;
    }

    &__author-name {
        @extend %nunito-700;
        font-size: 20px;
    }

    &__author-status {
        @extend %poppins-400;
        font-size: 16px;
    }

    &__slide-decore {
        text-align: right;
    }
}

.reviews-swiper {
    position: relative;
}

.primary-swiper-button {
    background-color: vars.$color-primary;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    text-align: center;
    align-content: center;
    position: absolute;
    z-index: 500;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.primary-swiper-button-next {
    right: 0;
}

.primary-swiper-button-prev {
    left: 0;
}

.admission {
    background: image-set(url('../images/admission-bg.avif') type('image/avif'),
            url('../images/admission-bg.webp') type('image/webp'),
            url('../images/admission-bg.jpg'));
    margin-bottom: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__wrapper {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 64px 0;
        max-width: 815px;
        background-color: vars.$color-white;
        border-radius: 20px;
    }

    &__title {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
        max-width: 544px;
    }

    &__text {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 32px;
        opacity: .7;
    }

    &__button {
        border: none;
        border-radius: 25px;
        background-color: vars.$color-red;
        color: vars.$color-white;
        @extend %poppins-600;
        font-size: 16px;
        padding: 12px 56px;
    }
}

.faq-section {
    margin-bottom: 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 80px;
    }

    &__questions {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 12px;
    }

    &__text {
        font-size: 20px;
        line-height: 1.5;
        opacity: .7;
        max-width: 390px;
    }

    &__image {
        margin-left: auto;
        margin-top: auto;
    }
}

.faq-questions {
    &__item {
        padding: 24px 70px 24px 28px;
        border-radius: 10px;
        background-color: vars.$color-cream;
        max-width: 700px;
        position: relative;
        cursor: pointer;
    }

    &__icon {
        display: inline-block;
        align-content: center;
        text-align: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        color: vars.$color-white;
        font-size: 20px;
        position: absolute;
        top: 28px;
        right: 28px;
    }

    &__icon-plus {
        background-color: vars.$color-red;
    }

    &__icon-minus {
        background-color: vars.$color-primary;
        display: none;
    }

    &__item-title {
        @extend %nunito-800;
        font-size: 24px;
        line-height: 1.3;
    }

    &__item-text {
        font-size: 20px;
        line-height: 1.5;
        opacity: .7;
        margin-top: 12px;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }
}

.faq-questions__item--active .faq-questions__icon-plus {
    display: none;
}

.faq-questions__item--active .faq-questions__icon-minus {
    display: block;
}

.faq-questions__item--active .faq-questions__item-text {
    display: inline-block;
}

.plans {
    position: relative;
    margin-bottom: 120px;
    background-color: vars.$color-light-blue;
    z-index: 1;
    padding: 32px;

    &__top {
        text-align: center;
        padding: 100px 0;
    }

    &__title {
        margin-left: auto;
        margin-right: auto;
        max-width: 680px;
    }

    &__box {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 100px;
    }

    &__item {
        border-radius: 20px;
        background-color: vars.$color-white;
        text-align: center;
        padding: 32px;
    }

    &__item-header {
        background-color: vars.$color-green;
        color: vars.$color-white;
        border-radius: 20px;
        padding: 24px;
        margin-bottom: 32px;
    }

    &__item-title {
        margin-bottom: 6px;
        @extend %nunito-800;
        font-size: 24px;
        line-height: 1.3;
    }

    &__item-price {
        display: inline-block;
        @extend %nunito-800;
        font-size: 48px;
        line-height: 1.16;
    }

    &__item-period {
        display: inline-block;
        opacity: .5;
    }

    &__favor-list {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 16px;
        margin-bottom: 40px;
    }

    &__favor-item {
        display: flex;
        gap: 16px;
        align-items: center;
        line-height: 1.5;
        white-space: nowrap;
    }

    &__button {
        width: 100%;
        border: none;
        @extend %poppins-600;
        font-size: 16px;
        line-height: 1.5;
        border-radius: 25px;
        background-color: vars.$color-primary;
        color: vars.$color-white;
        padding: 12px;
    }
}

.plans__item--accent {
    transform: translateY(-40px);
}

.plans__item--accent .plans__item-header {
    background-color: vars.$color-red;
    position: relative;
}

.plans__item--accent .plans__item-header::after {
    content: '';
    background-image: url(../images/plans-item-decore.svg);
    background-repeat: no-repeat;
    background-position: right top;
    position: absolute;
    top: -20px;
    right: -20px;
    height: 100%;
    width: 100%;
}

.plans::before {
    content: '';
    background-image: url(../images/plans-cloud-left.svg);
    position: absolute;
    left: 0;
    top: 170px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.plans::after {
    content: '';
    background-image: url(../images/plans-cloud-right.svg);
    position: absolute;
    top: 65px;
    right: 0;
    background-position: right top;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.from-blog-slider {
    position: relative;
    margin-bottom: 120px;

    &__title {
        text-align: center;
        margin-bottom: 50px;
    }

    &__item {
        text-align: center;
    }

    &__item-image {
        margin-bottom: 32px;
        border-radius: 20px;
    }

    &__item-title {
        @extend %nunito-800;
        font-size: 32px;
        line-height: 1.3;
        margin-bottom: 12px;
    }

    &__item-subtitle {
        opacity: .5;
    }

    &__item-subtitle span {
        display: inline-block;
        margin-left: 16px;
        margin-right: 16px;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: vars.$color-primary;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        position: absolute;
        z-index: 500;
        cursor: pointer;
        top: 37%;
    }

    &__button--next {
        right: 0;
    }

    &__button--prev {
        left: 0;
    }
}