<section class="belive">
    <div class="container">
        <div class="belive__top">
            <h3 class="belive__title">
                What we believe
                in Kidztar
            </h3>
            <p class="belive__text">
                Discover how our kindergarten fosters a love for learning through innovative early education.
            </p>
        </div>
        <div class="belive__box">
            <div class="belive__box-item">
                <img src="../images/belive-icon-1.svg" alt="">
                <div class="belive__item-content">
                    <p class="belive__item-title">
                        Community
                    </p>
                    <p class="belive__item-text">
                        Building supportive and inclusive community.
                    </p>
                </div>
            </div>
            <div class="belive__box-item">
                <img src="../images/belive-icon-2.svg" alt="">
                <div class="belive__item-content">
                    <p class="belive__item-title">
                        Respect
                    </p>
                    <p class="belive__item-text">
                        Teaching respect for oneself and other children.
                    </p>
                </div>
            </div>
            <div class="belive__box-item">
                <img src="../images/belive-icon-3.svg" alt="">
                <div class="belive__item-content">
                    <p class="belive__item-title">
                        Creativity
                    </p>
                    <p class="belive__item-text">
                        Encouraging creative expression and innovation.
                    </p>
                </div>
            </div>
            <div class="belive__box-item">
                <img src="../images/belive-icon-4.svg" alt="">
                <div class="belive__item-content">
                    <p class="belive__item-title">
                        Growth
                    </p>
                    <p class="belive__item-text">
                        Promoting personal growth and knowledge learning.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="belive-bottom-bg"></div>
</section>