<footer class="footer footer-v1">
    <div class="container">
        <div class="footer-v1__top">
            <h2 class="footer-v1__top-title">
                Ready to give your child
                a head start?
            </h2>
            <button class="footer-v1__top-button">
                Enroll Now
            </button>
        </div>
        <div class="footer-v1__box">
            <div class="footer-v1__social-box">
                <img class="footer-v1__logo" src="images/company-logo-v1.svg" alt="">
                <p class="footer-v1__social-box-text">
                    Through personalized attention and innovative teaching methods, our school empower our children to
                    thrive both academically & socially.
                </p>
                <ul class="footer-v1__social-list">
                    <li class="footer-v1__social-item">
                        <a class="footer-v1__social-link" href="#">TW</a>
                    </li>
                    <li class="footer-v1__social-item">
                        <a class="footer-v1__social-link" href="#">IG</a>
                    </li>
                    <li class="footer-v1__social-item">
                        <a class="footer-v1__social-link" href="#">FB</a>
                    </li>
                </ul>
            </div>
            <div class="footer-v1__links-box">
                <div class="footer-v1__info">
                    <div class="footer-v1__links">
                        <p class="footer-v1__links-title footer-v1__info-titles">
                            Links
                        </p>
                        <ul class="footer-v1__links-list">
                            <li class="footer-v1__links-item">
                                <a class="footer-v1__link" href="#">
                                    Homepage v1
                                </a>
                            </li>
                            <li class="footer-v1__links-item">
                                <a class="footer-v1__link" href="#">
                                    Homepage v2
                                </a>
                            </li>
                            <li class="footer-v1__links-item">
                                <a class="footer-v1__link" href="#">
                                    Homepage v3
                                </a>
                            </li>
                            <li class="footer-v1__links-item">
                                <a class="footer-v1__link" href="#">
                                    About
                                </a>
                            </li>
                            <li class="footer-v1__links-item">
                                <a class="footer-v1__link" href="#">
                                    Teachers
                                </a>
                            </li>
                            <li class="footer-v1__links-item">
                                <a class="footer-v1__link" href="#">
                                    Upcoming Events
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-v1__classes">
                        <p class="footer-v1__classes-title footer-v1__info-titles">
                            Classes
                        </p>
                        <ul class="footer-v1__classes-list">
                            <li class="footer-v1__classes-item">
                                <a class="footer-v1__classes-link" href="#">
                                    Toddler Class
                                </a>
                            </li>
                            <li class="footer-v1__classes-item">
                                <a class="footer-v1__classes-link" href="#">
                                    Early Learning
                                </a>
                            </li>
                            <li class="footer-v1__classes-item">
                                <a class="footer-v1__classes-link" href="#">
                                    Art & Craft
                                </a>
                            </li>
                            <li class="footer-v1__classes-item">
                                <a class="footer-v1__classes-link" href="#">
                                    Science & Nature
                                </a>
                            </li>
                            <li class="footer-v1__classes-item">
                                <a class="footer-v1__classes-link" href="#">
                                    Music
                                </a>
                            </li>
                            <li class="footer-v1__classes-item">
                                <a class="footer-v1__classes-link" href="#">
                                    Leadership
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-v1__contacts">
                        <p class="footer-v1__contacts-title footer-v1__info-titles">
                            Contact
                        </p>
                        <div class="footer-v1__contacts-info">
                            <address class="footer-v1__contacts-info-address">
                                123 Kindergarten Lane, Eduville
                            </address>
                            <a class="footer-v1__contacts-info-phone" href="phone:5551234567" type="phone">
                                555-1234-567
                            </a>
                            <a class="footer-v1__contacts-info-email" href="email:info@kidztar.edu" type="email">
                                info@kidztar.edu
                            </a>
                        </div>
                        <button class="footer-v1__contacts-button">
                            Send A Message
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom-v1">
        <div class="container">
            <div class="footer__bottom-inner">
                <ul class="footer__bottom-list">
                    <li class="footer__bottom-item">
                        <a class="footer__bottom-link" href="#">
                            Privacy Policy
                        </a>
                    </li>
                    <li class="footer__bottom-item">
                        <a class="footer__bottom-link" href="#">
                            Terms and Condition
                        </a>
                    </li>
                    <li class="footer__bottom-item">
                        <a class="footer__bottom-link" href="#">
                            Site Map
                        </a>
                    </li>
                </ul>
                <p class="footer__bottom-copy">
                    Copyright © 2024. All rights reserved.
                </p>
            </div>
        </div>
    </div>
    </div>
</footer>

<script src="js/main.min.js"></script>
</body>

</html>