<div class="container">
    <div class="footer__banner">
        <div class="footer__banner-box">
            <picture>
                <source srcset="images/footer__banner-girl.avif" type="image/avif">
                <source srcset="images/footer__banner-girl.webp" type="image/webp">
                <img class="footer__top-banner-img" src="images/footer__banner-girl.png" alt="">
            </picture>
            <div class="footer__banner-content">
                <h2 class="footer__banner-title">
                    Get the best education
                </h2>
                <p class="footer__banner-text">
                    Join our kindergarten and watch your children soar to the newest height.
                </p>
                <button class="footer__banner-button">
                    Join Now
                </button>
            </div>
        </div>
    </div>
</div>