<footer class="footer">
    <!--=include footer-banner.html  -->
    <div class="footer__top footer__top--big">
        <div class="container">
            <div class="footer__brands">
                <ul class="footer__brands-list">
                    <li class="footer__brand-item">
                        <img class="footer__brand-image" src="images/brand-1.svg" alt="">
                    </li>
                    <li class="footer__brand-item">
                        <img class="footer__brand-image" src="images/brand-2.svg" alt="">
                    </li>
                    <li class="footer__brand-item">
                        <img class="footer__brand-image" src="images/brand-3.svg" alt="">
                    </li>
                    <li class="footer__brand-item">
                        <img class="footer__brand-image" src="images/brand-4.svg" alt="">
                    </li>
                    <li class="footer__brand-item">
                        <img class="footer__brand-image" src="images/brand-5.svg" alt="">
                    </li>
                    <li class="footer__brand-item">
                        <img class="footer__brand-image" src="images/brand-6.svg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__box">
        <div class="container">
            <div class="footer__box-inner">
                <div class="footer__info">
                    <div class="footer__links">
                        <p class="footer__links-title footer__info-titles">
                            Classes
                        </p>
                        <ul class="footer__links-list">
                            <li class="footer__links-item">
                                <a class="footer__link" href="#">
                                    Homepage v1
                                </a>
                            </li>
                            <li class="footer__links-item">
                                <a class="footer__link" href="#">
                                    Homepage v2
                                </a>
                            </li>
                            <li class="footer__links-item">
                                <a class="footer__link" href="#">
                                    Homepage v3
                                </a>
                            </li>
                            <li class="footer__links-item">
                                <a class="footer__link" href="#">
                                    About
                                </a>
                            </li>
                            <li class="footer__links-item">
                                <a class="footer__link" href="#">
                                    Teachers
                                </a>
                            </li>
                            <li class="footer__links-item">
                                <a class="footer__link" href="#">
                                    Upcoming Events
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__classes">
                        <p class="footer__classes-title footer__info-titles">
                            Contact
                        </p>
                        <ul class="footer__classes-list">
                            <li class="footer__classes-item">
                                <a class="footer__classes-link" href="#">
                                    Toddler Class
                                </a>
                            </li>
                            <li class="footer__classes-item">
                                <a class="footer__classes-link" href="#">
                                    Early Learning
                                </a>
                            </li>
                            <li class="footer__classes-item">
                                <a class="footer__classes-link" href="#">
                                    Art & Craft
                                </a>
                            </li>
                            <li class="footer__classes-item">
                                <a class="footer__classes-link" href="#">
                                    Science & Nature
                                </a>
                            </li>
                            <li class="footer__classes-item">
                                <a class="footer__classes-link" href="#">
                                    Music
                                </a>
                            </li>
                            <li class="footer__classes-item">
                                <a class="footer__classes-link" href="#">
                                    Leadership
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__contacts">
                        <p class="footer__contacts-title footer__info-titles">
                            Contact
                        </p>
                        <div class="footer__contacts-info">
                            <address class="footer__contacts-info-address">
                                123 Kindergarten Lane, Eduville
                            </address>
                            <a class="footer__contacts-info-phone" href="phone:5551234567" type="phone">
                                555-1234-567
                            </a>
                            <a class="footer__contacts-info-email" href="email:info@kidztar.edu" type="email">
                                info@kidztar.edu
                            </a>
                        </div>
                        <button class="footer__contacts-button">
                            Send A Message
                        </button>
                    </div>
                </div>
                <div class="footer__form">
                    <img class="footer__form-logo" src="images/company-logo.svg" alt="">
                    <p class="footer__form-title">
                        Subscribe Newsletter
                    </p>
                    <input class="footer__form-input" type="email" placeholder="Enter email address ...">
                    <div class="footer__form-bottom-box">
                        <ul class="footer__form-social-list">
                            <li class="footer__form-social-item">
                                <a class="footer__form-social-link" href="#">TW</a>
                            </li>
                            <li class="footer__form-social-item">
                                <a class="footer__form-social-link" href="#">IG</a>
                            </li>
                            <li class="footer__form-social-item">
                                <a class="footer__form-social-link" href="#">FB</a>
                            </li>
                        </ul>
                        <button class="footer__form-button" type="submit">
                            Subscribe
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=include footer-bottom_v2.html  -->
</footer>

<script src="js/main.min.js"></script>
</body>

</html>